@import "../../css/styles/colors";

.myDocledger {
  width: 100%;
  background-color: $white;
  padding: 20px;
  border-radius: 6px;

  &__title {
    font-size: 22px;
    font-family: "Inter SemiBold", sans-serif;
  }

  &__search {
    width: 100%;

    margin-top: 20px;
    &__title {
      font-size: 20px;
      font-family: "Inter Medium", sans-serif;
    }
    &__field {
      background-color: $dark-grey-bg;
      border: none !important;
      border-radius: 90px !important;
      fieldset {
        border: none;
      }
    }
  }

  &__folders {
    margin-top: 50px;
    .MuiAccordion-root:before {
      height: 0 !important;
    }
    .MuiPaper-elevation1 {
      box-shadow: none !important;
    }
    .MuiTypography-body1 {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .MuiAccordionSummary-root.Mui-expanded,
    .MuiAccordionSummary-root {
      max-height: 50px !important;
    }

    &__folder {
      margin-bottom: 20px !important;
      &__title {
        width: 100%;
        text-align: left;
        padding-left: 16px;
        margin-bottom: 20px;
        font-family: "Inter Medium", sans-serif;
        font-size: 20px;
      }
    }
  }
}

.file {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 90%;

  margin-bottom: 5px;

  svg {
    margin-right: 5px;
    width: 20%;
  }
}

.file__txt {
  width: 250px;
  text-align: left;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
